flowboxchild{
	padding: 0px;
}

listview.content.small > row {
	margin: 0px;
	border-radius: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

listview.content.small > row:first-child {
	border-top-width: 0px;
}

listview.content.small > row:last-child {
	border-bottom-width: 0px;
}

listview > row:first-child {
	margin-top: 12px;
}

listview > row:last-child {
	margin-bottom: 12px;
}

listview > row {
	margin-left: 12px;
	margin-right: 12px;
}

.package-tile {
	border-radius: 8px;
	border: solid 1px alpha(#cdc7c2, 0.7);
	color: @theme_fg_color;
	background: @theme_base_color;
}

.package-tile:hover {
	background-color: @theme_base_color;
}

.screenshots-box{
	background-color: @theme_base_color;
	border-top: 1px solid @borders;
	border-bottom: 1px solid @borders;
}

.action-button button{
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.action-button-progress progress{
	min-height: 3px;
	border-radius: 0px;
	border-bottom-left-radius: 5px;
}

.action-button-progress trough.empty progress	{
	min-height: 3px;
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.action-button-progress trough.full progress	{
	min-height: 5px;
	border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.action-button-progress trough{
	min-height: 3px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.show-history-button {
	border: 0px;
	padding: 8px;
	background: none;
	box-shadow: none;
}
